<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- style.css -->
    <link rel="stylesheet" href="/style.css" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/logo2.png" />
    <title><%= title %> | Muhammad Zain</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="flex flex-col min-h-screen bg-gray-100 text-gray-900">
    <nav
      id="mainNavbar"
      class="bg-white fixed top-0 left-0 right-0 z-50 transition-shadow"
    >
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto navbar"
      >
        <a href="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/logo/logo3.png" class="h-16 mt-2" alt="Logo" />
          <!-- <span class="self-center text-2xl font-semibold text-black-900 whitespace-nowrap"></span> -->
        </a>

        <button
          id="navToggle"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        >
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" fill="none" viewBox="0 0 17 14">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>

        <div class="hidden w-full lg:block lg:w-auto" id="navMenu">
          <ul
            class="font-medium flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-white md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white"
          >
            <li>
              <a
                href="/"
                class="block py-2 px-3 rounded-md md:p-0 <%= currentPath === '/home' ? 'text-blue-700 font-semibold' : 'text-gray-700 hover:text-blue-700' %>"
              >
                Home
              </a>
            </li>
            <li>
              <a
                href="/about"
                class="block py-2 px-3 rounded-md md:p-0 <%= currentPath === '/about' ? 'text-blue-700 font-semibold' : 'text-gray-700 hover:text-blue-700' %>"
              >
                About
              </a>
            </li>
            <li>
              <a
                href="/projects"
                class="block py-2 px-3 rounded-md md:p-0 <%= currentPath === '/projects' ? 'text-blue-700 font-semibold' : 'text-gray-700 hover:text-blue-700' %>"
              >
                Projects
              </a>
            </li>
            <li>
              <a
                href="/experience"
                class="block py-2 px-3 rounded-md md:p-0 <%= currentPath === '/experience' ? 'text-blue-700 font-semibold' : 'text-gray-700 hover:text-blue-700' %>"
              >
                Experience
              </a>
            </li>
            <li>
              <a
                href="/education"
                class="block py-2 px-3 rounded-md md:p-0 <%= currentPath === '/education' ? 'text-blue-700 font-semibold' : 'text-gray-700 hover:text-blue-700' %>"
              >
                Education
              </a>
            </li>
            <li>
              <a
                href="/gallery"
                class="block py-2 px-3 rounded-md md:p-0 <%= currentPath === '/gallery' ? 'text-blue-700 font-semibold' : 'text-gray-700 hover:text-blue-700' %>"
              >
                Gallery
              </a>
            </li>
            <li>
              <a
                href="/contact"
                class="block py-2 px-3 rounded-md md:p-0 <%= currentPath === '/contact' ? 'text-blue-700 font-semibold' : 'text-gray-700 hover:text-blue-700' %>"
              >
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Toggle script -->
    <script>
      const toggleBtn = document.getElementById("navToggle");
      const navMenu = document.getElementById("navMenu");

      toggleBtn.addEventListener("click", () => {
        navMenu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
